.typegeek {
	text-align: center;
}
.typegeek input[type="text"] {
	font-family: -webkit-pictograph, serif;
	font-size: 36px;
}
.typegeek ul {
	list-style-type: none;
	padding: 0;
}
.typegeek li {
	display: inline-block;
	margin-right: 5px;
	margin-top: 5px;
}
.typegeek a {
	box-sizing: border-box;
	text-decoration: none;
	background-color: #444;
	color: #F5F5F5;
	font-family: -webkit-pictograph, serif;
	font-size: 26px;
	border-radius: 2px;
	position: relative;
	display: inline-block;
	width: 42px;
	height: 45px;
	text-align: center;
}
.typegeek a:hover {
	background-color: #d15241;
}
.typegeek a span {
	position: absolute;
	left: 5px;
	bottom: 1px;
	font-size: 12px;
	font-family: sans-serif;
}
